.TodoForm {
    display: flex;
}

@media (min-width: 768px) {
    .TodoForm {
        width: 400px;
        padding: 3%;
    }
}

@media (min-width: 1024px) {
    .TodoForm {
        width: 500px;
        padding: 0;
    }
}