.Dropdown {
    position: relative;
}

.Menu {
    position: absolute;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    border: 1px solid #858585;
    width: 150px;
    z-index: 6000;
}

.Menu > li {
    margin: 0;
    background-color: #858585;
}

.Menu > li:hover {
    background-color: #4e8ed3;
}

.Menu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
    background: none;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

