.Footer {
    display: flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;   
}

.ToDoLink {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.Footer a {
    text-decoration-color: #fff;
}

@media (min-width: 768px) {
    .ToDoLink {
        font-size: 1.75rem;
    }
}

@media (min-width: 1024px) {
    .Footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        text-align: left;
    }
    
    .ToDoLink {
        font-size: 2rem;
    }
}