.Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    padding: 1rem 1rem 0 1rem;
    color: #fff;
}

.HomeIcon {
    height: 25px;
    width: 25px;
}

@media (min-width: 768px) {
    .Header {
        flex-grow: 0.5;
    }

    .HomeIcon {
        height: 30px;
        width: 30px;
    }
}

@media (min-width: 1024px) {
    .Header {
        flex-grow: 0.5;
    }

    .HomeIcon {
        height: 35px;
        width: 35px;
    }
}