.Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-grow: 0.5; */
    padding: 1rem;
    color: #fff;
}

.HomeIcon {
    height: 25px;
    width: 25px;
}

@media (min-width: 768px) {
    .HomeIcon {
        height: 30px;
        width: 30px;
    }
}

@media (min-width: 1024px) {
    .HomeIcon {
        height: 35px;
        width: 35px;
    }
}