.HomePage {
    flex-grow: 2;
    font-weight: bolder;
    color: #fff;
    text-align: center;
}

.Time {
    font-size: 3rem;
    padding: 0.5rem;
}

.Date {
    font-size: 1rem;
    padding: 0.5rem;
}

.Greeting {
    font-size: 1.5rem;
    padding: 0.5rem;
}

@media (min-width: 768px) {
    .HomePage {
        flex-grow: 2;
    }

    .Time {
        font-size: 4.5rem;
    }
    
    .Date {
        font-size: 1rem;
    }
    
    .Greeting {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {    
    .HomePage {
        flex-grow: 2;
    }

    .Time {
        font-size: 5.5rem;
    }
    
    .Date {
        font-size: 1.5rem;
    }
    
    .Greeting {
        font-size: 2.5rem;
    }
}


