.TodoInput {
    border: none;
    outline: none;
}

textarea:focus, input:focus {
    color: #0d1b2a;
}

.AddIcon {
    height: 20px;
    width: 20px;
}

.TodoButton {
    background: none;
    border: none;
    display: flex;
}

.TodoInputContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;;
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .AddIcon {
        height: 25px;
        width: 25px;
    }
}
