.QuoteContainer {
    color: #fff;
    font-size: 1rem;
    font-style: italic;
    width: 90%;
}

.Quote {
    margin-bottom: 0.3rem;
}

@media (min-width: 768px) {
    .QuoteContainer {
        width: 90%;
    }

    .Quote {
        margin-bottom: 0.4rem;
    }
    
}

@media (min-width: 1024px) {
    .QuoteContainer {
        width: 40%;
    }

    .Quote {
        margin-bottom: 0.5rem;
    }
    
}