.ListItem {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.ListItemCheckbox {
    vertical-align: text-top;
    border: none;
    position: relative; 
    transition: 1s;
    background: none;
    color: #0d1b2a;
    margin-right: 0.75rem;
}

.Error {
    display: flex;
    margin-top: 0.75em;
    color: #f60505;
    list-style-type: none;
}

.Hamburger {
    border: none;
    position: relative; 
    transition: 1s;
    background: none;
    background-color: #fff;
    margin: 0 0 0 0
}