.ListItem {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    font-size: 0.7rem;
}

.ListItemCheckbox {
    vertical-align: text-top;
    border: none;
    position: relative; 
    transition: 1s;
    background: none;
    color: #0d1b2a;
    margin-right: 0.75rem;
}

.Error {
    display: flex;
    margin-top: 0.75em;
    color: #f60505;
    list-style-type: none;
}

.EditableInput {
    border: none;
    outline: none;
}

.MoreBtn {

    border: none;
    background: none;
}

.IoIosMore {
    height: 22px;
    width: 22px;
}

@media (min-width: 768px) {
    .ListItem {
        font-size: 0.8rem;
    }
}

@media (min-width: 1024px) {  
    .ListItem {
        font-size: 0.9rem;
        padding: 10px 0;
    }
}