.ListItem {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    text-align: left;
    margin-top: 0.75em;
    color: #0d1b2a;
    list-style-type: none;
}

.ListItemTrashIcon {
    margin-left: 10px;
    border: none;
    position: relative; 
    transition: 1s;
}

.ListItemTrashIcon:hover {
    transform: scale(1.2);
}

.ListItemCheckbox {
    border: none;
    position: relative; 
    transition: 1s;
    background: none;
    color: #0d1b2a;
}

.Error {
    display: flex;
    margin-top: 0.75em;
    color: #f60505;
    list-style-type: none;
}