.ToggleSwitch {
    display: flex;
    align-items: center;
}

.ToggleSwitchLabel {
    font-size: 0.7rem;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .ToggleSwitchLabel {
        font-size: 0.8rem;
        margin-right: 15px;
    }
}

@media (min-width: 1024px) {  
    .ToggleSwitchLabel {
        font-size: 0.9rem;
        margin-right: 20px;
    }
}